*.iml
.gradle/
.kotlin/
/local.properties
.idea/
.DS_Store
**/build/
/captures
/screenshots/
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
*.p12
signing.properties
*.md
*.log
*.tmp
*.bak
*.swp
/app/src/main/ic_launcher-playstore.png
/app/src/main/res/drawable/cat.jpg
/app/src/main/res/drawable/ic_push_notifications.jpg
